@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.container-principal{
    background-color: #F3F3F3;
    width: 375px;
    height: max-content;
    margin: 0 auto;
    padding-top: 26px;
}
header{
    background-color: #ffffff;
    width: 375px;
    height: 80px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    position: fixed;
    top: 0;
    z-index:1;
}
header ion-icon{
    width: 42px;
    height: 31px;
}
ul.mensagens{
    margin: 80px 0;
}
.mensagem div{
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 8px;
    margin-bottom: 4px;
    border-radius: 2px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.mensagem.entrouSaiu div{
    background-color: #DCDCDC;
}
.mensagem.reservado div{
    background-color: #FFDEDE;
}
span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
}
span.hora{
    color:#AAAAAA;
    font-weight: 400;
}
footer{
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 375px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    box-sizing: border-box;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.05);
    z-index:1;
}
footer div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 17px;
    box-sizing: border-box;
}
.paraQuem{
    color: #505050;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    text-overflow:ellipsis;
    white-space: nowrap;    
}
footer ion-icon{
    width: 26px;
    height: 26px;
}
header ion-icon:hover, footer ion-icon:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
input{
    width: 300px;
    height: 30px;
    border:none;
}
input[type=text] {
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
input::placeholder{ 
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.clicado,.esconde.fundo{
    display: none;
}
.fundo{
    background-color: rgba(0, 0, 0, 0.6);
    width: 375px;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: auto;
    z-index: 30;
}
.escondeAside{
    width: 116px;
    height: 100vh;
}
aside{
    background-color: #ffffff;
    width: 259px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
}
aside li:hover{
    background-color: #AAAAAA;
    cursor: pointer;
}
.topoDoAside{
    width: 100%;
    min-height: 84px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dadosAside{
    width: 100%;
    height: 36px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding: 0 18px;
    position: relative;
}
.iconeTodos{
    width: 24px;
    height: 17px;
    margin: 8px;
}
.listaDaVisibilidade, .contatos{
    width: 100%;
    box-sizing: border-box;
}
.listaDaVisibilidade{
    margin-bottom:30px ;
}
.contatos div{
    max-height:fit-content;
}
.listaDaVisibilidade p,.contatos p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;  
}
.iconeParticipantes {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 12px;
}
.visibilidade{
    width: 100%;
    min-height: 66px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconeVisibilidade {
    width: 15px;
    height: 20px;
    margin-left: 10px;
    margin-right: 12px;
}
.escolhido{
    color:#28BB25;
    min-width: 19px;
    min-height: 15px;
    position: absolute;
    right: 9px;
}
.participantes p{
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}